@import "tailwindcss";

@theme {
  --color-primary: #113955;
  --color-secondary: #F9A826;
  --color-sectionBackground: #F8FAFC;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}